# Ignore everything except SATC (for Vercel deployment)
Assests/
acid-design-system/
code/
data-storytelling/
Bauhaus Lamp/
.venv/

# SATC
SATC/venv/
SATC/avatars/

# System & cache
.DS_Store
__pycache__/
*.pyc
.idea/
.vscode/
*.log
